<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Your Notes by Location</h4>
  </div>
  <div class="modal-body">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-if="true">
      <ui-gmap-marker ng-repeat="note in notes" idkey="note.$$hashKey" coords="note.coordinates" click="selectNote(note)"/>
    </ui-gmap-google-map>
  </div>
</div>
