.note-editor header {
  display: block;
  padding: 10px;
  width: 100%;

  background: #000;
  color: #EEE;
  text-align: center;
}

.note-editor header a {
  color: #FFF;
}

.note-editor textarea {
  min-height: 50vh;
}
